ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}

#currentinfo {
    background-color: aliceblue;
    padding : 20px;
}


.card-title {
    font-size: 20px;

}

img {
    width: 100px;
    height: 100px;
}
#fivedayinfo{
    background-color: aliceblue;

    padding: 10px;

}